#footer
  position: relative
  background-color: #99999925
  padding: 3%
  

  .lista-de-icons
    align-items: center
    margin-left: 0rem
    margin-top: 1rem
    max-width: 100%
    padding-left: 45%
    padding-right: 50%
    @include lg
      padding-left: 35%


    