main
    overflow: hidden
    background-image: url("../img/common/big-bg3x.jpg")
    #welcome
        height: auto
        #welcome-img-area
            z-index: -1
            @include sm
                display: none
            .welcome-img
               height: auto
        #welcome-img-area2
            @include sm
                display: none
            .welcome-img
               height: auto
        
    #sectors
        .area-text-sectors
            padding: 1rem
        .area-title-sectors
            padding: 1rem 
        .icone-img
            padding-top: 15%
            margin: auto
            width: 25%
            height: auto
        #sectors-equipment
            background-color: #45c7cf
            height: 545px
        #sectors-ready
            background-color: #34b8c0
            height: 545px
        #sectors-doctors
            background-color: #886bdf
            height: 545px
        #sectors-success
            background-color: #6f51c7
            height: 545px
    #dangers
        height: auto
        @include lg
            height: auto
        .row-dangers
            --bs-gutter-x: 0 !important
            #dangers-img-area
                @include sm
                    display: none
                .dangers-img
                    width: 100%
                    height: auto
            #dangers-img-area2
                .dangers-img
                    width: 100%
                    height: auto
    #patients
        height: 475px   
        @include lg
            height: 690px
        @include sm
            height: 985px
        .patients-img
            height: 1000px 
            background-size: cover
        .title-superior
            top: 3%
            display: flex
            justify-content: center
            align-items: center
            flex: 1
            width: 100%
            
        .text-superior
            top: 10%
            display: flex
            justify-content: center
            align-items: center
            margin: auto
            flex: 1
            width: 100%
            padding: 5%
            @include lg
                top: 7%
            @include sm
                top: 12%
        .comment
            margin-top: 2%
            @include lg
                margin-top: 12%
            @include sm
                margin-top: 20%
            .patients-img-comment
                border-radius: 100%
                width: 145px
                height: 145px
                margin-left: 0%
                margin-top: -10%
                @include lg
                    margin-left: 105%
                    margin-top: -30%
                    height: 120px
                @include sm
                    margin-left: 130%
                    margin-top: -30%
                    height: 110px
                @media (max-width: 280px)
                    margin-top: -30%
                    height: 90px
                @media (width: 1024px)
                    margin-left: 150px
                    margin-top: -50%
            #patient-2
                @include sm
                    margin-top: 70%
        #segundo-comentario
            @include sm
                margin-top: -25%
        .text-comment
            padding: 2%
            text-align: left
            margin-left: -5%
            margin-top: -15%
            @include lg
                margin-top: 10%
                margin-left: 5px
            @include sm
                margin-top: 1rem
                margin-left: 0%
            @media (width: 1024px)
                margin-left: 10px
            .space
                padding: 5% 
            .patients-icone-comment
                @include lg
                    margin-left: 0%
    #forms
        height: auto
        @include lg
            height: 700px
        @include sm
            height: 900px
        .form-img
            height: auto 
            background-size: cover
            @include lg
                height: 700px
            @include sm
                height: 900px
        .form
            top: 2%
            display: flex
            justify-content: center
            align-items: center
            margin: auto
            flex: 1
            width: 100%
            padding: 5%
            #forms-text-area
                left: 10%    
                width: 78%
                .space
                    margin-top: 5%
        #area-form
            @include sm
                margin-left: 10%  
    #news
        padding-top: 4%
        width: 100%
        #news-text-area
            #title-news
                padding-top: 3rem
        #cont-new
            padding-top: 4%
            width: 100%
            padding: 3rem
            .new-area
                padding: 2rem
                @include lg
                    padding-top: 3%
                @include sm
                    padding-top: 35%
                .new-img
                    border-radius: 20px
                    margin: auto
                    width: 100%
                    height: 40%
                    @include lg
                        height: 65%
                    @include sm
                        height: 37%
            .btn-view
                margin-top: 10%
                @include lg
                    padding-top: 5%
                @include sm
                    padding-top: 20%
    #contact
        height: auto
        @include md
            height: 250px
        .contact-img
            height: auto 
            background-size: cover
            @include md
                height: 250px
        .title-superior
            top: 10%
            display: flex
            justify-content: center
            align-items: center
            flex: 1
            width: 100%
        .text-superior
            top: 15%
            display: flex
            justify-content: center
            align-items: center
            margin: auto
            flex: 1
            width: 100%
            padding: 5%
        .btn-superior
            top: 30%
            display: flex
            justify-content: center
            align-items: center
            margin: auto
            flex: 1
            width: 100%
            padding: 5%
            @include md
                top: 55%

                