
#heal-oque
    height: auto
    @include lg
        height: auto
    .row-heal-oque
        --bs-gutter-x: 0 !important
        #heal-oque-img-area
            .heal-oque-img
                margin-top: 8.5rem
                margin-left: 8%
                width: 100%
                height: auto
                @include lg
                    margin-top: -21%
                    margin-left: 0%
                @include sm
                    margin-top: -1rem
                @media (width: 1024px)
                    margin-left: 15%
                    margin-top: 0%
                    width: 70%
                @media (width: 912px)
                    margin-top: -6rem
        #heal-oque-img-area2
            @include lg
                opacity: 1
            .heal-oque-img
                width: 100%
                height: 100%
#health
    padding-top: 8%
    @include lg
        padding: 10%
        margin-top: 5%
    @include sm 
        margin-top: 10%
        padding: 0%
        margin-left: 4%
    @media (width: 1024px)
        margin-top: -5%
    #health-text-area
        #title-health
            padding-top: 5rem
        #text-health
            padding: 2.5rem
    #container
        padding-top: 4%
        padding-left: 10%
        padding-right: 10%
        @include sm
            padding-left: 2%
        @media (max-width: 280px)
            margin-left: -10%
        .health-area
            min-width: 280px
            margin: auto
            height: 480px
            background-color: #99999917
            padding: 2rem
            @include lg
                height: auto
                margin-top: 1rem
            @media (width: 280px)
                margin-left: 5%
            @media (width: 1024px)
                width: 50%
                margin-top: 1rem

            .health-icon
                padding-top: 10%
                margin: auto
                width: 30%
                height: auto
        .font-text
            padding-top: 2%
            padding: 6%
.realizacao
    padding-top: 0%
    @include lg
        padding: 5%
        margin-top: -5%
    #realizacao-text-area
        #title-realizacao
            padding-top: 5rem
    .video
        margin-top: 5%
        width: 60%
        height: 500px
        @include lg
            width: 100%
            height: 300px

#scores
    margin-top: 8%
    height: auto
    background-color: #99999917
    .name-mobile
        opacity: 0
        @include lg
            margin-left: 1rem
            opacity: 1
            margin-top: 4rem
    .name-desktop
        @include lg
            opacity: 0
            margin-top: -6rem
    .scores-img
        padding: 5%
        height: auto
        margin-left: 7%
        margin-top: 5.5rem
        @include xl
            margin-left: 0%
        @include lg
            margin-left: auto
            margin-top: 4%