//Resolução da Tela:
// $screen-width: 1280
// $screen-height: 720
  
  
//fonte principais ou de destaque


//fonte segundarias ou para textos e outros


$color-destaque: #34b8c0

$color-secundary: #6f51c7

$white-bg-color: #ffff

.bg-white
  background-color: $white-bg-color

$font-default: 'Roboto', sans-serif

$font-destaque: Poppins, sans-serif

.color-black
  color: rgb(2, 2, 2)

.color-destaque
  color: $color-destaque

.font-destaque
  font-family: $font-destaque

.font-default
  font-family: $font-destaque

.weight-bold
  font-weight: 900


.weight-light
  font-weight: 100
  
.weight-bold
  font-family: $font-default
  font-weight: 900

.font-destaque-bold
  font-family: $font-destaque
  font-weight: 900

.font-destaque-banner
  font-size: 64px

.font-banner
  font-size: 55px

.margin-btn-banner1
  margin-left: 7%

.font-text
  color: #817e7e
  line-height: 2rem
  font-size: 20px
  margin-top: 2%

.font-title
  font-size: 45px
  @include sm
    font-size: 25px

.font-text-white
  color: #ffffff
  line-height: 2rem
  font-size: 20px

.font-title-white
  font-size: 30px
  font-weight: 540
  color: #ffffff

.font-title-superior
  position: relative
  font-size: 40px
  font-weight: 540
  color: #ffffff

.font-text-superior
  position: relative
  font-size: 25px
  color: #ffffff


