//Resolução da Tela:
// $screen-width: 1280
// $screen-height: 720
  
  
//fonte principais ou de destaque


//fonte segundarias ou para textos e outros


$color-destaque: #34b8c0

$color-secundary: #7986be

$white-bg-color: #ffff

.bg-white
  background-color: $white-bg-color

$font-default: 'Roboto', sans-serif

$font-destaque: Poppins, sans-serif

.color-black
  color: rgb(2, 2, 2)

.color-destaque
  color: $color-destaque

.font-destaque
  font-family: $font-destaque

.font-default
  font-family: $font-destaque

.weight-bold
  font-weight: 900


.weight-light
  font-weight: 100
  
.weight-bold
  font-family: $font-default
  font-weight: 900

.font-destaque-bold
  font-family: $font-destaque
  font-weight: 900

.font-destaque-banner
    font-size: 64px

.font-banner
    font-size: 55px


