@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate_left {
    0% {
        transform: rotate(16deg)
    }
    to {
        transform: rotate(376deg)
    }
}

@keyframes rotate_left {
    0% {
        transform: rotate(16deg)
    }
    to {
        transform: rotate(376deg)
    }
}

@-webkit-keyframes rotate_right {
    0% {
        transform: rotate(4deg)
    }
    to {
        transform: rotate(364deg)
    }
}

@keyframes rotate_right {
    0% {
        transform: rotate(4deg)
    }
    to {
        transform: rotate(364deg)
    }
}

.bg-white {
    background-color: #fff
}

.color-black {
    color: rgb(5, 5, 5)
}

.color-destaque {
    color: #34b8c0;
}

.font-default,
.font-destaque,
header nav a {
    font-family: "Roboto Condensed", sans-serif
}

.weight-light {
    font-weight: 100
}

.weight-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 900
}

.font-destaque-bold {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    overflow-x: hidden
}

li,
ul {
    list-style-type: none
}

b,
div,
h1,
h2,
h3,
li,
p {
    font-family: "Roboto", sans-serif
}

i {
    font-style: italic
}

b {
    font-weight: 800
}

.btns,
.btns.active,
.btns.hover,
.btns:active,
.btns:hover {
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out
}

.btns {
    cursor: pointer;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    background-position: left
}

.btns.active,
.btns.hover,
.btns:active,
.btns:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.btnDefault,
.btns,
.btns.active {
    pointer-events: all
}

.btnDefault {
    position: absolute;
    cursor: pointer;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    z-index: 10
}

.btnDefault.active,
.btnDefault.hover,
.btnDefault:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.btnDefault.active {
    pointer-events: none
}

.btnDefault.outScene {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden
}

.background-img img {
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%
}

.z-index--1 {
    z-index: -1
}

.z-index-0 {
    z-index: 0
}

.z-index-1 {
    z-index: 1
}

.z-index-2 {
    z-index: 2
}

.z-index-3 {
    z-index: 3
}

.text-shadow-none {
    text-shadow: none
}

.btn-primary {
    background-color: #e24f33;
    background-image: url(../img/common/btn-texture.jpg);
    border: 0;
    outline: 0
}

.btn-primary .active,
.btn-primary:hover {
    background-color: #f8c146;
    background-image: none;
    color: #181818
}

main {
    overflow: hidden;
    background-image: url(../img/common/big-bg3x.jpg)
}

header nav a .badge {
    font-size: .7rem;
    top: -10px
}

header nav a #logo {
    margin-left: 0
}

@media (max-width:768px) {
    header nav a #logo {
        margin-left: 18rem
    }
}

@media (max-width:576px) {
    header nav a #logo {
        margin-left: 7.3rem
    }
}

@media (max-width:320px) {
    header nav a #logo {
        margin-left: 3.8rem
    }
}

header nav .navbar-brand {
    max-width: 175px
}

header nav .nav-link {
    color: #fff
}

header nav .active,
header nav .nav-link:hover {
    opacity: 1;
    text-shadow: rgba(0, 0, 0, .5) 0 0 5px, #fff 0 0 15px, #fff 0 0 30px
}

header nav .nav-link:hover {
    color: #fff
}

header nav .nav-link:hover .badge {
    text-shadow: #fff 0 0 10px, #fff 0 0 15px
}

header nav .nav-link:hover img {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

header nav .dropdown-toggle img {
    position: absolute;
    height: 1.2rem;
    transform: rotate(90deg);
    margin: .1rem .6rem
}

header nav .dropdown-toggle::after {
    display: none;
    background-color: #000!important
}

header nav .dropdown-toggle.show img {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg)
}

header nav .active {
    color: rgba(255, 255, 255, .75)
}

header nav .nav-item .dropdown-menu {
    background-color: #1f1f1f
}

@media (max-width:992px) {
    header nav .nav-item .dropdown-menu {
        position: absolute
    }
}

header nav .nav-item .dropdown-menu a:hover {
    background-color: #000
}

header nav .nav-item .dropdown-menu .dropdown-item {
    color: #fff
}

header nav #loja,
header nav #torneios {
    display: none
}

#banner-bilboad {
    height: auto
}

#banner-bilboad .carousel-control-prev {
    justify-content: start
}

#banner-bilboad .carousel-control-next {
    justify-content: end
}

#banner-bilboad .carousel-caption-image-area {
    max-height: 100%
}

#banner-bilboad .carousel-indicators button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: .1rem solid #fff;
    background-color: #000
}

#banner-bilboad .carousel-indicators .active {
    background-color: #e24f33;
    border: .1rem solid #e24f33
}

#preloader {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: table;
    vertical-align: middle;
    text-align: center
}

#preloader .loader {
    height: 100%;
    position: relative;
    margin: auto;
    width: 100%
}

#preloader .loader_overlay {
    z-index: 1;
    width: 550px;
    height: 550px;
    background: 0 0;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, .67), 0 0 19px 0 rgba(0, 0, 0, .16) inset;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#preloader .loader_cogs {
    width: 600px;
    height: 600px;
    top: 0!important;
    position: absolute;
    left: 300px;
    right: 0;
    bottom: 0;
    margin: auto
}

#preloader .loader_cogs .loader_cogs__top {
    position: relative;
    width: 300px;
    height: 300px;
    transform-origin: 50% 50%;
    -webkit-animation: rotate 10s infinite linear;
    animation: rotate 10s infinite linear
}

#preloader .loader_cogs .loader_cogs__top div:nth-of-type(1) {
    transform: rotate(30deg)
}

#preloader .loader_cogs .loader_cogs__top div:nth-of-type(2) {
    transform: rotate(60deg)
}

#preloader .loader_cogs .loader_cogs__top div:nth-of-type(3) {
    transform: rotate(90deg)
}

#preloader .loader_cogs .loader_cogs__top div.top_part {
    width: 300px;
    border-radius: 30px;
    position: absolute;
    height: 300px;
    background: #f98db9
}

#preloader .loader_cogs .loader_cogs__top div.top_hole {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#preloader .loader_cogs .loader_cogs__left {
    position: relative;
    width: 240px;
    transform: rotate(16deg);
    top: 60px;
    transform-origin: 50% 50%;
    animation: rotate_left 10s .1s infinite reverse linear;
    left: -80px;
    height: 240px
}

#preloader .loader_cogs .loader_cogs__left div:nth-of-type(1) {
    transform: rotate(30deg)
}

#preloader .loader_cogs .loader_cogs__left div:nth-of-type(2) {
    transform: rotate(60deg)
}

#preloader .loader_cogs .loader_cogs__left div:nth-of-type(3) {
    transform: rotate(90deg)
}

#preloader .loader_cogs .loader_cogs__left div.left_part {
    width: 240px;
    border-radius: 26px;
    position: absolute;
    height: 240px;
    background: #97ddff
}

#preloader .loader_cogs .loader_cogs__left div.left_hole {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#preloader .loader_cogs .loader_cogs__bottom {
    position: relative;
    width: 280px;
    height: 280px;
    top: -220px;
    transform-origin: 50% 50%;
    -webkit-animation: rotate_right 10.2s .4s infinite linear;
    animation: rotate_right 10.2s .4s infinite linear;
    transform: rotate(4deg);
    left: 230px
}

#preloader .loader_cogs .loader_cogs__bottom div:nth-of-type(1) {
    transform: rotate(30deg)
}

#preloader .loader_cogs .loader_cogs__bottom div:nth-of-type(2) {
    transform: rotate(60deg)
}

#preloader .loader_cogs .loader_cogs__bottom div:nth-of-type(3) {
    transform: rotate(90deg)
}

#preloader .loader_cogs .loader_cogs__bottom div.bottom_part {
    width: 280px;
    height: 280px;
    border-radius: 25px;
    position: absolute;
    background: #ffcd66
}

#preloader .loader_cogs .loader_cogs__bottom div.bottom_hole {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#footer {
    position: relative;
    background-image: url(../img/common/big-bg3x.jpg)
}

#footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem
}

@media (max-width:768px) {
    #footer .row {
        padding-left: 8rem
    }
}

@media (max-width:576px) {
    #footer .row {
        padding-left: 0
    }
    #footer .row #first {
        grid-gap: 0
    }
}

@media (max-width:1200px) {
    #footer .row #second {
        padding-left: 1rem
    }
}

@media (max-width:576px) {
    #footer .row #second {
        text-align: center
    }
}

@media (max-width:320px) {
    #footer .row #second {
        text-align: center
    }
}

#footer .row .links-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 0
}

@media (max-width:1200px) {
    #footer .row .links-footer {
        grid-gap: .8rem
    }
}

@media (max-width:320px) {
    #footer .row .links-footer {
        grid-gap: 0
    }
}

@media (max-width:1200px) {
    #footer .row .links-footer img {
        width: 80%
    }
}

#footer .row .links-footer #cta {
    font-family: "Roboto Condensed", sans-serif!important;
    font-weight: 400!important
}

@media (max-width:1200px) {
    #footer .row .links-footer #cta {
        font-size: .8rem
    }
}

@media (max-width:768px) {
    #footer .row .links-footer #cta {
        font-size: 1rem
    }
}

@media (max-width:576px) {
    #footer .row .links-footer #cta {
        font-size: .8rem
    }
}

#footer .row .links-footer .redes-sociais {
    display: flex;
    flex-direction: row;
    padding-left: .1rem;
    grid-gap: 1rem
}

@media (max-width:1200px) {
    #footer .row .links-footer .redes-sociais {
        grid-gap: .5rem
    }
}

@media (max-width:576px) {
    #footer .row .links-footer .redes-sociais img {
        width: 90%;
        padding-left: .1rem
    }
}

#footer .row .links-footer a {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff
}

@media (max-width:1200px) {
    #footer .row .links-footer a {
        font-size: .8rem
    }
}

@media (max-width:768px) {
    #footer .row .links-footer a {
        font-size: 1rem
    }
}

@media (max-width:576px) {
    #footer .row .links-footer a {
        font-size: .8rem
    }
}

@media (max-width:320px) {
    #footer .row .links-footer a {
        font-size: .7rem
    }
}